body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    position: relative;
    height: 300px; 
    text-align: center;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/awal.png'); 
    background-size: cover;
    background-position: center;
    opacity: 0.7; 
    z-index: -1; 
}

.header-content {
    position: relative;
    z-index: 1; 
    color: rgb(8, 8, 8);
    padding: 100px 0; 
}

nav {
    background-color: #FDA446;
    overflow: hidden;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 50px;             
}

nav ul li {
    margin: 0 10px;  
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;
    
}


nav ul li a:active, nav ul li a:focus, nav ul li a.active {
    color: #FFD700;  
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #800080;
    color: rgb(20, 19, 19);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h2 {
    color: #4CAF50;
}


.bold {
    font-size: 1.17em;  
    font-weight: bold;  
    color: #FDA446;     
}

p {
    font-size: 1.1em;   
    line-height: 1.6em; 
    margin: 10px 0;     
    padding: 10px;      
    background-color: #f9f9f9; 
    border-left: 4px solid #4CAF50; 
}

form label {
    font-weight: bold;
}

form input {
    margin-bottom: 10px;
    padding: 5px;
    width: calc(100% - 12px);
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

